// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.appartments-card{
  display: grid;
  grid-template-columns: repeat(3, 200rem);
  grid-gap: 16px;
}

.appartments-cardbottom{

}